@font-face {
    font-family: arca-majora3;
    src: url(arca-majora3.otf);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

#abcd {
    color: white;
    opacity: 0%;
    font-size: 100%;
}

#abcd2{
    position: relative;
    bottom: 0px;
    left: 0px;
    font-size: 300%;
    opacity: 0%;
    color: white;
}

/* Gradient Container */
.mesh-gradient {
    position: fixed;
    width: 100vw;
    height: 30vh;
    bottom: 0%;
    left: 0;
    background: linear-gradient(90deg, #b60000, #c8c800, #2400c5, rgb(255, 0, 93));
    filter: blur(150px);
    z-index: 0;
    background-size: 300% 300%;
    animation: rotateGradient 10s linear infinite;
}

/* Rotating Gradient Animation */
@keyframes rotateGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#mainbox {
    height: auto;
    display: flex;
    /* border: 2px solid white; */
    row-gap: 3vh;
    justify-content: space-evenly;
    align-items: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    z-index: 1;
}

.box1 {
    width: 40vw;
    aspect-ratio: 167/179;
    /* background-image: linear-gradient(#ffe02fa2, #968000); */
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.181)0%, hsla(0, 0%, 18%, 0.5), hsla(0, 0%, 18%, 0.5), hsla(0, 0%, 18%, 0.5));
    border: 0.2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    /* row-gap: 10%; */
}

.box1:hover {
    animation-name: hover;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes hover {
    0% {}

    100% {
        border-radius: 50px;
        filter: saturate(1.2);
        filter: drop-shadow(0px 0px 50px hsla(0, 0%, 100%, 0.673));
    }
}

.img-box {
    width: 75%;
    aspect-ratio: 478/490;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.412));
    z-index: 3;
}

.img-box:active {
    animation-name: click;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes click {
    0% {}

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
        transform: rotate(20deg);
    }
}

.item-name {
    font-size: 150%;
    font-family: arca-majora3;
    color: white;
    z-index: 4;
    text-align: center;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.093);
    box-shadow: 0px -0.5px 20px rgba(0, 0, 0, 0.536);
    width: 100vw;
    aspect-ratio: 412/78;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
}

#nav-box {
    background-color: rgba(255, 255, 255, 0);
    height: 60%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 6;
}

#company {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 60%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 7;
}

#company-logo {
    height: 100%;
    aspect-ratio: 1/1;
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 8;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#company-branch {
    font-family: arca-majora3;
    font-size: 140%;
    z-index: 9;
}

#rate {
    background-color: #ffde2e;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 35%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#button-text {
    font-family: arca-majora3;
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    z-index: 11;
}

@keyframes pulse {
    0% {
        font-size: 130%;
    }

    50% {
        font-size: 160%;
    }

    100% {
        font-size: 130%;
    }
}

#shadow {
    width: 100vw;
    aspect-ratio: 412/78;
    background-image: linear-gradient(black, rgba(255, 255, 255, 0));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
}

#button-container {
    height: 7vh;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 1px solid hsla(51, 100%, 59%, 0.2);
    background-image: linear-gradient(hsla(51, 100%, 59%, 0.2), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
    /* background-color: hsla(0, 0%, 0%, 0.2); */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 10vh;
    right: 10vw;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.536);
    z-index: 13;
}

#button-container:active {
    animation-name: click2;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes click2 {
    0% {
        row-gap: 0%;
    }

    30% {
        row-gap: 40%;
        scale: 90%;
    }

    70% {
        row-gap: 40%;
        scale: 90%;
    }

    100% {
        row-gap: 0%;
    }
}

#lineA {
    background-color: rgba(0, 0, 255, 0);
    width: 100%;
    height: 30%;
    scale: 60%;
    transform: translateY(30%);
    display: flex;
    justify-content: center;
}

#lineB {
    background-color: rgba(0, 0, 255, 0);
    width: 100%;
    height: 30%;
    scale: 60%;
    transform: translateY(-70%);
    display: flex;
    justify-content: center;
}

.lines {
    width: 50%;
    height: 40%;
    background-color: white;
    border-radius: 100px;
}

#line1 {
    rotate: -45deg;
    transform: translateY(128%);
}

#line2 {
    rotate: 45deg;
    transform: translateY(128%);
}

#line3 {
    rotate: -45deg;
    transform: translateY(128%);
}

#line4 {
    rotate: 45deg;
    transform: translateY(128%);
}

/* hamburger menu starts here */

#HamBurgerMenuContainer {
    height: 5vh;
    width: 5vh;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s ease-in-out;
    border-radius: 25px;
    overflow: hidden;
    position: fixed;
    top: 2vh;
    left: 2vh;
    z-index: 14;
    backdrop-filter: blur(10px);
}

#HBM-container {
    height: 5vh;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

/* HamBurgerMenuContainer height = HamBurgerMenuContainer width = icon-container height = icon-container width */
/* Also check that in JS */
#HBM-line1 {
    height: 10%;
    width: 60%;
    background-color: white;
    border-radius: 50px;
    translate: 0% 100%;
    transform-origin: left center;
    transition: all 0.5s ease-in-out;
}

#HBM-line2 {
    height: 10%;
    width: 80%;
    background-color: white;
    border-radius: 50px;
    transform-origin: center center;
    transition: all 0.5s ease-in-out;
}

#HBM-line3 {
    height: 10%;
    width: 60%;
    background-color: white;
    border-radius: 50px;
    translate: 0% -100%;
    transform-origin: right center;
    transition: all 0.5s ease-in-out;
}

#HBMitems{
    display: none;
    opacity: 0%;
    transition: all 0.5s ease-in-out 1s;
}

.HBMtext {
    text-align: center;
    font-family: arca-majora3;
}

#home {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

#UIversion{
    border-top: 3px solid white;
    height: 10%;
    display: none;
    opacity: 0%;
    transition: all 0.5s ease-in-out;
}

#version{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10%;
}
